.no {
  &-margin {
    margin: 0 !important;
  }

  &-padding {
    padding: 0 !important;
  }
}

.margin {
  @for $i from 1 through 10 {
    &-top-#{$i} {
      margin-top: $i*8px;
    }

    &-bottom-#{$i} {
      margin-bottom: $i*8px;
    }
  }
}

.padding {
  @for $i from 1 through 10 {
    &-top-#{$i} {
      padding-top: $i*8px;
    }

    &-bottom-#{$i} {
      padding-bottom: $i*8px;
    }
  }
}
