@import "./flex";
@import "./form";
@import "./spacing";

:root {
  --el-main-padding: 8px 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

.overflow-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.error {
  margin: 4px 0;
  color: var(--el-color-danger);
  line-height: 1.5;
}

.clickable {
  cursor: pointer;
}
